{{#isBoolean}}Boolean{{/isBoolean}}{{#isString}}String{{/isString}}{{#isInteger}}Integer{{/isInteger}}{{#isLong}}Long{{/isLong}}{{#isDouble}}Double{{/isDouble}}{{#isList}}{{#item}}List<{{>list_items}}>{{/item}}{{/isList}}